body{
  background: url("../icons/barBackground.jpeg") center/contain;
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  //justify-content: space-around;
  //flex-grow: 0;
  width: 100%;
  flex-flow: wrap;
  font-size: 20px;

  div.recipe{
    border: 5px solid cornflowerblue;
    width: 100%;
    text-align: center;
    margin: 20px;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 80px;
    height: 80px;
    background: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 18px #000000;
  }
  div.recipe:first-child{
    background-color: #42de42;
  }
  div.recipe:nth-child(2){
    background-color: #42de42;
  }
  .form{
    width: 100%;
    display: flex;
    flex-flow: column;
    .new-ing-div{
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .new-recipe-title{
      text-align: center;
      padding: 20px 0;
      border-radius: 10px;
      border: 2px solid lightgreen;
    }
    .new-recipe-ing{
      width: 100%;
      text-align: center;
      padding: 20px 0;
      border-radius: 10px;
      border: 2px solid lightgreen;
    }
    .button{
      padding: 20px 0;
      margin: 10px 0 ;
      border-radius: 10px;
      background: lightblue;
      border: 2px solid lightgrey;
    }
    .cancel--btn{
      padding: 20px 0;
      margin: 10px 0 ;
      border-radius: 10px;
      background: #ff3333;
      border: 2px solid lightgrey;
    }
  }
}
.app--name{
  text-align: center;
  color: white;
  font-size: 7vw;
}
.my--recipes{
  width: 100%;
}
